@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!--This is the about page telling the story of winning-->
<p>You deserve to win, because winning isn't everything, it is the only thing!! You deserve to win because you were born to win, but to become the winner you need to plan to win prepare to win and expect to win.You deserve to win because you want so. You deserve to win because your aim and goals are the fish's eye and you are your own arjun! You deserve to win because you are dedicated towards winning. You deserve to win because you have it in yourself to takeover your flaws and work on them till the time you are just not perfect. Winning isnt always about coming first my dear! Its about you performing better than your ownself every next time. You deserve to win because you are the one who puts in the efforts to change your fate towards winning. Everyone deserves a chance to win, but making the most out of that chance to win is what you have always done. Surest way to success is hard work. You deserve to win because you are your own hero! You are no extra ordinary person's second version, but you are your own first version!. You deserve to win because you want to, you have to and you always will. After all nothing succeeds like success and most importantly "if you don't see yourself as a winner, you can't perform as a winner"</p>
