/* Set new color and background image*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightblue;
    background-image: url('../images/13557915_10154607163171564_4329250080003390475_n.jpg');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Changed background color font size and font family */

.thumbnail{
background-color:white;
font:12px;
font-style:italic;
font-family:'Times New Roman', Times, serif;
}

/* Changed font size and color */

.Headliner{
    font:34px;
    color:black;
}

/* Changed color and font */

.navbar-header{
    background-color:aqua;
    font:25px;
}
.DeeT {
    color: aqua;/* Changed Details page color and font */

    font-size: 25px;
}
/* Changed color so that it can be seen better */


.Cre{
    background-color:black;
}
